.choosebtn__dropdown {
  display: flex;
  width: 10rem;
  height: 4.8rem;
  padding: 1.4rem;

  align-items: center;
  justify-content: space-between;
  background-color: $color-dark-background;
  border: 1px solid $color-border-color;
  border-radius: 0.8rem;

  &--select {
    // width: 100%;
    // justify-self: end;
    font-size: 1.4rem;
    line-height: 1.82rem;
    background-color: $color-dark-background;
    color: $color-white;
    appearance: none;
    border: none;

    &:focus {
      outline: none;
    }
    // justify-self: center;
    // align-self: center;
    // border: 1px solid $color-border-color;
    // padding: 1rem;
  }
}
