$color-white: #fff;

$color-grey-lighter: #FAFAFA;
$color-grey-light: #e0e6e9;
$color-grey-dark: #abbbc2;

$color-pink-primary: #ea7c69;
$color-pink-secondary: #ff6471;

$color-green-dark: #50D1AA;

$color-dark-background: #1f1d2b;
$color-light-background: #2d303e;
$color-lighter-background: #252836;

$color-border-color: #393C49