.App {
  display: flex;
  background-color: #2d303e;
  max-height: 83.4rem;
  // margin: auto;
}

@media screen and (min-width: 74.625em) {
  .App {
    // margin: auto;
    // justify-content: center;
  }
}
